.section_1_arts {
  width: 100%;
  height: 60vh;
  position: relative;
  overflow: hidden;
  background-image: url("../../assets/aboutBanner.jpg");
  background-size: cover;
}

.video_arts_gallery {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center; /* Keep video centered */
  z-index: -1;
}

.innerContainer_sec1_arts {
  background-color: rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  padding: 1rem;
}
.heading_art_gallery {
  color: #eee;
  text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.488);
  font-size: 3rem;
}

.para_art_gallery {
  max-width: 50vw;
  font-size: 1.3rem;
  font-weight: 300;
}
.section_2_arts {
  padding: -3rem 5rem;
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.arts_gall_icon_container {
  background-image: linear-gradient(-200deg, #102542 50%, #233b5d, #5a779f);
  padding: 0rem 0.5rem;
  width: fit-content;
  border-radius: 100%;
}
.arts_gall_icon_container span {
  font-size: 2.2rem;
  color: #d51323;
}
.heading_main_arts_container {
  color: #102542;
  font-size: 3rem;
  margin: 0.7rem 0rem;
}

.section_3_arts {
  padding: 0rem 3rem;
  margin: 5rem 5rem;
  display: flex;
  align-items: center;
  gap: 10px;
  overflow-x: scroll;
  overflow-y: visible;
}
.section_3_arts::-webkit-scrollbar {
  height: 8px; /* horizontal scrollbar thickness */
}

.section_3_arts::-webkit-scrollbar-track {
  background: #f0f0f0; /* track color */
  border-radius: 100%;
}

.section_3_arts::-webkit-scrollbar-thumb {
  background-color: #102542; /* thumb color */
  border-radius: 10px;
  border: 2px solid #f0f0f0; /* adds spacing around thumb */
}

.section_3_arts::-webkit-scrollbar-thumb:hover {
  background-color: #cc0000; /* darker red on hover */
  cursor: pointer;
}
.customize_card_arts {
  border: 2px dashed #102542;
  border-style: dashed;
  width: 19vw;
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  cursor: pointer;
  padding: 0rem 0.3rem;
  transition: 0.4s ease-in-out;
  border-radius: 10px;

  position: sticky;
  background: rgba(255, 255, 255, 0.729);
  border-radius: 16px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.8);
  top: 0;
  flex: 0 0 250px; /* fixed width */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  border-top: 5px solid #0e1d32;
}
.customize_arts_icon {
  background: white;
  box-shadow: 0px 8px 15px -1px rgba(0, 0, 0, 0.715);
}

.heading_customize_arts {
  color: #102542;
  font-size: 1.5rem;
  text-align: center;
}
.price_custom_design {
  font-size: 1.5rem;
  color: #a31621;
  font-weight: 400;
  margin-left: -2rem;
}
.price_custom_design span {
  color: rgb(32, 32, 32);
  font-size: 1rem;
}
.button_customize_card {
  margin: 1rem 0rem;
}
.card_art_item {
  border: 2px solid #102542;
  min-width: 19vw;
  min-height: 50vh;
  max-width: 20vw;
  max-height: 51vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  cursor: pointer;
  transition: 0.4s ease-in-out;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
}
.card_arts_image {
  width: 100%;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
  transform: scale(1.1);
  box-shadow: 0px 0px 30px -10px black;
}
.card_art_item:hover .card_arts_image {
  transform: scale(1.2);
}
.sub_card_card_art {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  position: absolute;
  top: 3px;
  left: 3px;
  display: flex;
  align-items: center;
  padding: 0.1rem 0.3rem;
  padding-top: 0.1rem;
  height: 1rem;
  gap: 0.3rem;
  border-radius: 50%;
  font-size: 0.7rem;
}
.sub_card_card_art span {
  font-size: 0.6rem;
}
.pencil_art_icon_arts span {
  color: white;
}
.container_phframe {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  padding-bottom: 3rem;
}
.phframe_art_cont {
  min-width: 22vw;
  min-height: 60vh;
}
.phframe_art_cont:hover {
  background: #a31621;
  transform: translateY(-20px);
  border-top: 5px solid #eee;
}
.phframe_card_heading {
  font-size: 2rem;
}
.phframe_art_cont:hover .phframe_card_price {
  color: #102542;
}
.phframe_art_cont:hover .phframe_card_price span {
  color: white;
}
.container_hot_custome_card {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  height:fit-content;
  background-color: #a31621;
  padding: 0rem 0.6rem;
  padding-top: 0rem;
  border-radius: 20px;
  height:1.5rem;
}
.container_hot_custome_card p {
  font-size:1rem;
  color: white;
}
.phframe_art_cont:hover .container_hot_custome_card {
  background-color: #102542;
}
.yourIdea_art_para {
  margin-left: 0.6rem;
}
.close_button_image_view{
   position: absolute;
   top: -40px;
   right: -10px;
   background: red;
   color: white;
   border: none;
   padding:0rem 0.27rem 0.2rem 0.2rem;
   border-radius:100%;
   font-size: 1rem;
   height:fit-content;
   cursor: pointer;
}
/*************** mobile devices*****************************************************************/
/*************** mobile devices*****************************************************************/
/*************** mobile devices*****************************************************************/
@media screen and (max-width: 400px) {
  .section_1_arts {
    width: 100%;
    margin-top:4rem;
    height:20vh;
    position: relative;
    overflow: hidden;
    background-image: url("../../assets/aboutBanner.jpg");
    background-size: cover;
    background-position: center;
  }

  .innerContainer_sec1_arts {
    background-color: rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 1rem;
  }
  .heading_art_gallery {
    color: #eee;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.488);
    font-size: 1.5rem;
  }

  .para_art_gallery {
    max-width: 50vw;
    font-size: 0.7rem;
    font-weight: 300;
  }
  .section_2_arts {
    padding: 0rem 5rem;
    padding-top: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .arts_gall_icon_container {
    background-image: linear-gradient(-200deg, #102542 50%, #233b5d, #5a779f);
    padding: 0.3rem 0.5rem;
    width: fit-content;
    border-radius: 100%;
  }
  .arts_gall_icon_container span {
    font-size: 1rem;
    color: #d51323;
  }
  .heading_main_arts_container {
    color: #102542;
    font-size: 1.5rem;
    margin: 0.7rem 0rem;
  }

  .section_3_arts {
    padding: 0rem 0.5rem;
    margin: 1rem;
  }
  .section_3_arts::-webkit-scrollbar {
    height: 8px; /* horizontal scrollbar thickness */
  }

  .section_3_arts::-webkit-scrollbar-track {
    background: #f0f0f0; /* track color */
    border-radius: 100%;
  }

  .section_3_arts::-webkit-scrollbar-thumb {
    background-color: #102542; /* thumb color */
    border-radius: 10px;
    border: 2px solid #f0f0f0; /* adds spacing around thumb */
  }

  .section_3_arts::-webkit-scrollbar-thumb:hover {
    background-color: #cc0000; /* darker red on hover */
    cursor: pointer;
  }
  .customize_card_arts {
    border: 2px dashed #102542;
    border-style: dashed;
    max-width: 50vw;
    min-height: 30vh;
    max-height:31vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    
  position: sticky;
  background: rgba(255, 255, 255, 0.729);
  border-radius: 16px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.8);
  top: 0;
  flex: 0 0 250px; /* fixed width */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  border-top: 5px solid #0e1d32;
  }
  .customize_arts_icon {
    background: white;
    box-shadow: 0px 8px 15px -1px rgba(0, 0, 0, 0.715);
  }

  .heading_customize_arts {
    color: #102542;
    font-size: 1.1rem;
    text-align: center;
  }
  .price_custom_design {
    font-size: 0.5rem;
    color: #a31621;
    font-weight: 400;
    margin-left: 0.6rem;
  }
  .price_custom_design span {
    color: rgb(32, 32, 32);
    font-size: 0.5rem;
  }
  .button_customize_card {
    margin: 1rem 0rem;
  }
  .card_art_item {
    border: 2px solid #102542;
    min-width: 50vw;
    min-height: 30vh;
    max-width: 20vw;
    max-height: 31vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    cursor: pointer;
    transition: 0.4s ease-in-out;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
  }
  .card_art_item:hover .card_arts_image {
    transform: scale(1.2);
  }
  .sub_card_card_art {

    height: fit-content;
    gap: 0.3rem;
    border-radius: 5%;
    font-size: 0.7rem;
      position: absolute;
      top: 3px;
      left: 3px;
      display: flex;
      border:0.0001rem solid #0e1d326a;
      align-items: center;
      padding: 0rem 0.3rem;
      height: 1rem;
      gap: 0.3rem;
      font-size: 0.7rem;
  }
  .sub_card_card_art span {
    font-size: 0.6rem;
  }
  .pencil_art_icon_arts span {
    color: white;
  }
  .container_phframe {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 3rem;
  }
  .phframe_art_cont {
    min-width: 80vw;
    min-height: 40vh;
  }
  .phframe_art_cont:hover {
    background: #a31621;
    transform: translateY(-20px);
    border-top: 5px solid #eee;
  }
  .phframe_card_heading {
    font-size: 1.3rem;
  }
  .phframe_art_cont:hover .phframe_card_price {
    color: #102542;
  }
  .phframe_art_cont:hover .phframe_card_price span {
    color: white;
  }
  .container_hot_custome_card {
    position: absolute;
    top: 0.2rem;
    right: 0.3rem;
    height:1rem;
    background-color: #a31621;
    padding: 0.2rem 0.3rem;
    padding-top: 0rem;
    border-radius: 5px;
  }
  .container_hot_custome_card p {
    font-size:0.6rem;
    color: white;
  }
  .phframe_art_cont:hover .container_hot_custome_card {
    background-color: #102542;
  }
  .yourIdea_art_para {
    margin-left: 0.6rem;
  }
}
