.container_about {
  height: 100vh;
  padding: 0rem 5rem;
  padding-top: 7rem;
}
.container_1_about {
  width: 30vw;
  margin-left: 5rem;
}
.container_2_about {
  width: 60vw;
  max-height:60vh;
  padding: 2rem 0rem;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.474);
  padding: 1rem;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: 1px solid #0e1d32;
  border-left: 5px solid #0e1d32;
  border-top: 5px solid #0e1d32;
}
.heading_about {
  font-size: 2.5rem;
  color: #102542;
}
.para_1_about {
  font-size: 1.2rem;
  font-weight: 400;
  color: #0e1d32;
  letter-spacing: 0px;
}
.para_1_about span {
  font-size: 1.25rem;
  color: #a31621;
  font-weight: 400;
}
.container_items_about {
  display: flex;
  padding: 2rem 0rem;
}
.card_artist {
  height: 60vh;
  max-height:60vh;
  margin: 0rem 4rem;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: 1px solid #0e1d32;
  border-right: 5px solid #0e1d32;
  border-top: 5px solid #0e1d32;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.474);
  padding: 0.6rem;
}
.artist_image {
  width: 100%;
  height: 100%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
.container_cards_social_videos {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10rem;
  padding: 3rem 5rem;
}
.explore_social_videos {
  padding: 0rem 5rem;
}
.instagram-media {
  height: 410px;
}
/* google review */
/* Google Reviews Section */
.google-reviews-container {
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 0px 20px -5px black;
  padding: 2rem 12rem;
  margin: 3rem;
}

.heading-google-reviews {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 130%;
  color: #303030;
}

.container-cards-google {
  width: 1164.75px;
  height: 221px;
  gap: 69px;
  display: flex;
  overflow-x: auto;
}

.google-intro-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 20%;
}

.google-intro-img {
  width: 55px;
  height: fit-content;
  margin-top: 0.5rem;
}

.container-ratings {
  display: flex;
  align-items: center;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 2.3rem;
}

.horizontal-line-google-intro {
  margin: 0 0.4rem;
  border: 1px solid #a31621;
  width: 10%;
  transform: rotate(90deg);
}

.rating-star-intro {
  width: 25px;
  height: fit-content;
  border-radius: 0.75px;
}

.rating-txt-google-intro {
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: #303030;
}

.counts-google-intro {
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  color: #ea7d28;
  margin-bottom: 0.3rem;
}

.para-google-intro {
  font-family: "Figtree", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  color: #474747;
}

.horizontal-line-google-review {
  border: 1px solid #ffddc1;
  height: 80%;
}

.cards-google-review-container {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.card-google-review {
  padding: 0;
  gap: 18px;
  border-radius: 15px;
  background-color: #1327420d;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
  min-width: 15rem;
  max-width: 15.1rem;
  padding: 0.5rem;
}

.google-logo-corner {
  position: absolute;
  background-color: #ffebc4;
  padding: 1.6rem 1.5rem 0.3rem 0.6rem;
  border-radius: 50%;
  z-index: 4;
  top: -20px;
  right: -20px;
}

.image-corner-google-logo {
  width: 30px;
  height: fit-content;
}

.reviewer_logo {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  object-fit: cover;
}

.reviewer-name-google {
  font-family: "Figtree", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: #000;
}

.image_star_ratings {
  width: 15px; /* fixed invalid unit */
  height: 15px;
}

.para-reviewer-google {
  font-family: "Figtree", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
  color: #464646;
  text-align: center;
}

/*************** mobile devices*********************/
/*************** mobile devices*********************/
/*************** mobile devices*********************/
/*************** mobile devices*********************/
@media screen and (max-width: 400px) {
  .container_about {
    height: 100vh;
    padding: 0rem 0.5rem;
    padding-top: 2rem;
  }
  .container_1_about {
    width: 100vw;
    margin-left: 3.5rem;
    margin-top: 20rem;
  }
  .container_2_about {
    min-width: 80vw;
    padding: 0.6rem 0.4rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.474);
    border-radius: 10px;
    border: 1px solid #0e1d32;
    border-top: 5px solid #0e1d32;
  }
  .heading_about {
    font-size: 1.5rem;
    color: #102542;
  }
  .para_1_about {
    font-size: 0.8rem;
    font-weight: 400;
    color: #0e1d32;
    letter-spacing: 1px;
  }
  .para_1_about span {
    font-size: 1rem;
    color: #a31621;
    font-weight: 400;
  }
  .container_items_about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5rem 0rem;
    height: 100%;
  }
  .card_artist {
    height: 50vh;
    width: 80vw;
    border-radius: 20px;
    border: 1px solid #0e1d32;
    border-top: 5px solid #0e1d32;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.474);
    padding: 0.2rem;
    margin: 1rem 0rem;
  }
  .artist_image {
    width: 100%;
    height: 100%;
    border-radius: 20px;
  }
  .container_cards_social_videos {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 1rem 1rem;
  }
  .explore_social_videos {
    padding: 0rem 1rem;
  }
  .instagram-media {
    height: 410px;
  }
  /* Google review */
  .container-cards-google {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 100%;
    padding-top: 40px;
    padding-right: 1px;
    padding-bottom: 40px;
    padding-left: 1px;
    gap: 40px;
  }
  .google-reviews-container {
    background-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 0px -5px black;
    padding: 2rem 1rem;
    margin: 1rem 2.2rem;
    margin-top: 25rem;
  }
  .google-intro-img {
    width: 60px;
    height: fit-content;
    margin-right: 20px;
  }
  .google-intro-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  .horizontal-line-google-review {
    display: none;
  }

  .container-ratings {
    display: flex;
    align-items: center;
    max-width: 10px;
    margin-left: 2.2rem;
  }
  .horizontal-line-google-intro {
    margin: 0rem 1rem;
    border: 2px solid #a31621;
    height: 20px;
    margin: 0rem 0.5rem;
    transform: rotate(180deg);
  }
  .cards-google-review-container {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    height: 100%;
  }
  .card-google-review {
    min-width: 250px;
    height: 140%;
    gap: 14px;
    border-radius: 20px;
    padding: 5px;
    border: 1px solid black;
  }
  .image-corner-google-logo {
    height: fit-content;
    width: 25px;
  }
  .google-logo-corner {
    padding: 1.6rem 1.5rem 0.5rem 0.8rem;
  }
  .para-reviewer-google {
    font-size: 0.9rem !important;
  }
  .ratings_reviewer-google {
    display: flex;
  }

  .rating-star-intro {
    min-width: 26px;
    height: fit-content;
    border-radius: 0.75px;
  }
  /* Find us container */
  .find-us-container {
    padding: 1rem;
  }
  .outer-findusContainer {
    display: flex;
    flex-direction: column;
  }
  .container-locations-findus {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 100vw;
  }

  .card-location-findus {
    width: 46%;
    height: 86px;
    padding: 0.6rem;
    border-width: 1px;
    border-radius: 8px;
    border: 1px solid #d0d0d0;
    margin: 0.2rem 0.3rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  .container-location-images {
    min-width: 95vw;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scrollbar-width: none;
    max-width: 85vw;
    flex-wrap: nowrap;
    gap: 0.8rem;
    margin: 0.7rem 0.2rem;
  }
  .image-card-findus-store {
    width: 269px;
    height: 207px;
  }
}
